#ifndef ENVIRONMENT_H
#define ENVIRONMENT_H

#define SSID "SsidHere"
#define WIFI_PASS "Password123"
#define SERVER "my.mqtt.com"
#define USER "username"
#define MQ_PASS "password123"
#define PORT 2345
#define TS_CHANNEL_ID 12834
#define TS_API_KEY "SPECIAL_API_KEY"

#endif
