#ifndef ENVIRONMENT_H
#define ENVIRONMENT_H

#define SSID "SsidHere"
#define WIFI_PASS "Password123"
#define MQTT_SERVER "my.mqtt.com"
#define MQTT_USER "username"
#define MQTT_PASS "password123"
#define MQTT_PORT 2345

#endif
